<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666320002680-vv284472e6lviqf4lct25q9koiipu10h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666320002680-vv284472e6lviqf4lct25q9koiipu10h</string>
	<key>API_KEY</key>
	<string>AIzaSyABM5AAhBtYwb8jlmeYv0fgkLi5g5QNMd0</string>
	<key>GCM_SENDER_ID</key>
	<string>666320002680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>backfront.goReceitasViewCode</string>
	<key>PROJECT_ID</key>
	<string>goreceitas-4a029</string>
	<key>STORAGE_BUCKET</key>
	<string>goreceitas-4a029.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666320002680:ios:d547542897d397e799978d</string>
</dict>
</plist>